#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";


        default_layer {
            bindings = <

                &kp ESC &kp 1 &kp 2 &kp 3 &kp 4
                &kp TAB &kp Q &kp W &kp E &kp R
                &kp CAPS &kp A &kp S &kp D &kp F
                &kp LSHFT &kp Z &kp X &kp C &kp V
                &kp LCTRL &kp LGUI &kp LALT &kp SPC &kp BSPC


                &kp 5 &kp 6 &kp 7 &kp 8 &none   
                &kp T &kp Y &kp U &kp I &kp O
                &kp G &kp H &kp J &kp K &kp L
                &kp B &kp N &kp M &none &kp L     
                &kp ENT &kp RALT &kp RGUI &kp RCTRL &kp DEL
            >;
        };
    };
};
