name: Build ZMK Firmware
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: West Init
        run: |
          west init -l config
          west update

      - name: West Build (Nice!Nano)
        run: |
          cd zmk/app
          west build -s . -b nice_nano -- -DSHIELD=my_keyboard

      - name: Upload Firmware
        uses: actions/upload-artifact@v4
        with:
          name: my-keyboard-firmware
          path: zmk/app/build/zephyr/zmk.uf2